
<ion-header>
  <ion-toolbar>
    <ion-title>   PREGUNTAS  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    

    <ion-card-content>

      <form class="fondo" >

        

        <ion-item>
          <ion-label>Pregunta: </ion-label>
          <p>{{this.pregunta.pregunta}}<p>
  
        </ion-item>


      




  
        <ion-button  (click)="salirConArgumentos()" expand="block" shape="round" color="primary">
          regresar
        </ion-button>

      </form >

    </ion-card-content>
  </ion-card>








</ion-content>