
<ion-header>
  <ion-toolbar>
    <ion-title> CREACION DE RESPUESTAS </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    
    <ion-card-header>
      <ion-card-title style="text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 25px; padding-top: 5px; padding-inline-end: 4px;">
          AÑADIR RESPUESTA
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <form  #formulario ="ngForm" (ngSubmit)="agregarRespuesta(formulario)" class="fondo" >

        

        <ion-item>
          <ion-label>Pregunta: </ion-label>
          <ion-label>{{ this.preguntaActual.pregunta }}</ion-label>
        </ion-item>

        <ion-item style="padding-left: 7px; padding-right: 7px; padding-top: 4px; padding-bottom: 4px;" [hidden]="this.preguntaActual.tipo_pregunta" >
          <ion-label>¿Es una respuesta Correcta?</ion-label>
          <ion-checkbox name="respuestaCorrecta" color="dark"   [(ngModel)]="respuesta.respuestaCorrecta"></ion-checkbox>
        </ion-item>
      
      
        <ion-item style="padding-left: 7px; padding-right: 7px; padding-top: 4px; padding-bottom: 4px;">

          <ion-textarea  type="text" 
          style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"
          placeholder="escribe la respuesta aqui" 
          name="respuesta" 
          [(ngModel)]="respuesta.respuesta" class="ion-padding"
          required></ion-textarea >
        </ion-item>

        <ion-button [disabled]="formulario.invalid" type="submit" expand="block"  >
         agregar
        </ion-button>

      </form >

    </ion-card-content>
  </ion-card>




  
  <ion-button  (click)="salirConArgumentos()" expand="block" fill="clear" shape="round" color="secondary">
    regresar
  </ion-button>



</ion-content>