<ion-header >
  <ion-toolbar>

    <ion-buttons  slot="start">
      <!-- mode ios si quiero que se vea como en android , viceversa si pongo md -->
        <ion-back-button
            defaultHref="/cliente-init"
            text=""
            color="primary"
            mode="md"
            ></ion-back-button>
        </ion-buttons>

    <ion-title class="ion-text-capitalize">{{this.nombre_encuesta}}</ion-title>

    <ion-button slot="end" class="margen" (click)="closeSession()">
      <ion-icon slot="icon-only" name="exit"></ion-icon>
    </ion-button>


  </ion-toolbar>
</ion-header>

<ion-content>

  <app-slides-preguntas [preguntas]="this.todas_las_preguntas" >

  </app-slides-preguntas>

</ion-content>
