<app-header-admin [titulo]="'Registro'"></app-header-admin>
<ion-content>

  <ion-grid fixed style="margin-top: 100px; ">
    <ion-row>
      <ion-col size="12" size-md="5" offset-md="3">


        <ion-card>

          <ion-card-header>
            <ion-card-title style="text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 25px; padding-top: 5px; padding-inline-end: 4px;">NUEVO USUARIO</ion-card-title>
          </ion-card-header>

          <ion-card-content>

            <form  #formulario ="ngForm" (ngSubmit)="onSubmit(formulario)" class="fondo" >

              <div style="height: 23px;">

              </div>
            
            
              <ion-item style="padding-left: 7px; padding-right: 7px; padding-top: 4px; padding-bottom: 4px;">
                <ion-label>User: </ion-label>
                <ion-input type="text" 
                style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"
                placeholder="escribe aqui" 
                name="user" 
                [(ngModel)]="usuario.username" class="ion-padding"
                required></ion-input>
              </ion-item>
            
           <ion-item style="padding-left: 7px; padding-right: 7px; padding-top: 4px; padding-bottom: 4px;">
                <ion-label>Password:</ion-label>
                <ion-input type="password" placeholder="" 
                style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" class="ion-padding"
                          name="password" [(ngModel)] ="usuario.password" required></ion-input>
              </ion-item>


                         
           <ion-item style="padding-left: 7px; padding-right: 7px; padding-top: 4px; padding-bottom: 4px; margin-bottom: 20px;">
                <ion-label>Nombre: </ion-label>
                <ion-input type="text" 
                style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"
                placeholder="escribe aqui" class="ion-padding"
                name="nombre" 
                [(ngModel)]="usuario.nombre"
                required></ion-input>
              </ion-item>
            
              <ion-button [disabled]="formulario.invalid" type="submit" expand="block"  >
                Registrar
              </ion-button>
            
            </form>
     
          </ion-card-content>
        </ion-card>


      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
